{% extends 'base.html' %}

{% block title %}Detalhe do Pedido{% endblock %}

{% block content %}

<div class="card shadow p-4">

    <h2 class="mb-3">Pedido #{{ pedido.id }}</h2>

    <p><strong>Cliente:</strong> {{ pedido.cliente_nome }}</p>
    <p><strong>Data do pedido:</strong> {{ pedido.data_criacao|date:"d/m/Y" }}</p>

    <hr>

    <a href="{% url 'pedidos:adicionar_item' pedido.id %}" class="btn btn-success mb-3">
        Adicionar Produto
    </a>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Produto</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Valor Unitário</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for item in pedido.itens.all %}
            <tr>
                <td class="text-center">{{ item.produto.nome }}</td>
                <td class="text-center">{{ item.quantidade }}</td>
                <td class="text-center">R$ {{ item.produto.preco|floatformat:2 }}</td>
                <td class="text-center">R$ {{ item.subtotal|floatformat:2 }}</td>
                <td class="text-center">
                    <a href="{% url 'pedidos:editar_item' item.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'pedidos:excluir_item' item.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="5" class="text-center">
                    Nenhum item ainda.
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="text-align: center;" class="mt-3" style="margin-bottom: 20px;">
        <h4 class="text-success fw-bold">
            Total do Pedido: R$ {{ pedido.total }}
        </h4>
    </div>



<br>
    <div style="text-align: center;">
        <a href="{% url 'pedidos:listar_pedido' %}" class="btn btn-secondary mb-3">
            Voltar
        </a>
    </div>
</div>

{% endblock %}