{% extends 'base.html' %}

{% block title %}Excluir Pedido{% endblock %}

{% block content %}

<div class="card shadow p-4">
        <div style="text-align: center;">
            <h2 class="mb-3 text-danger">🗑️ Excluir Pedido</h2>
        </div>
    <div class="alert alert-danger">
        Tem certeza que deseja excluir o pedido <strong>{{ pedido.id }}</strong>?
    </div>

    <form method="POST">
        {% csrf_token %}
            <div style="text-align: center;">
            <button type="submit" class="btn btn-danger">
                Confirmar Exclusão
            </button>

            <a href="{% url 'pedidos:listar_pedido' %}" class="btn btn-secondary">
                Cancelar
            </a>
            </div>
    </form>
</div>

{% endblock %}