{% extends 'base.html' %}

{% block title %}Lista de Produtos{% endblock %}

{% block content %}

<div class="card shadow p-4">
        <div style="text-align: center;">
            <h2 class="mb-3">🛒 Lista de Produtos</h2>
        </div>

    <form method="GET" class="mb-3 d-flex gap-2">
        <input 
            type="text" 
            name="q" 
            class="form-control" 
            placeholder="🔍 Buscar produto..."
            value="{{ query|default:'' }}"
        >
        <button class="btn btn-dark">Buscar</button>
    </form>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Nome</th>
                <th class="text-center">Preço</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td class="text-center">{{ produto.nome }}</td>
                <td class="text-center">R$ {{ produto.preco|floatformat:2 }}</td>
                <td class="text-center">
                    <a href="{% url 'pedidos:editar_produto' produto.id %}" class="btn btn-warning btn-sm">✏️</a>
                    <a href="{% url 'pedidos:excluir_produto' produto.id %}" class="btn btn-danger btn-sm">🗑️</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">📦 Nenhum produto cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center;">
        <a href="{% url 'pedidos:cadastrar_produto' %}" class="btn btn-success mb-3">
        Novo Produto
        </a>
    </div>
    
    <nav aria-label="Paginação">
        <ul class="pagination justify-content-center mt-4">

            {% if produtos.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ produtos.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">
                        ←
                    </a>
                </li>
            {% endif %}

            {% for num in produtos.paginator.page_range %}
                {% if produtos.number == num %}
                    <li class="page-item active">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% elif num > produtos.number|add:'-3' and num < produtos.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if produtos.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ produtos.next_page_number }}{% if query %}&q={{ query }}{% endif %}">
                        →
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>

</div>

{% endblock %}