{% extends 'base.html' %}

{% block title %}Excluir Item{% endblock %}

{% block content %}

<div class="card shadow p-4">
        <div style="text-align: center;">
            <h2 class="mb-3 text-danger">🗑️ Excluir Item</h2>
        </div>
    <div class="alert alert-danger">
        Tem certeza que deseja excluir o item <strong>{{ item.produto.nome }}</strong> do seu pedido?
    </div>

    <form method="POST">
        {% csrf_token %}
            <div style="text-align: center;">
                <button type="submit" class="btn btn-danger">
                    Confirmar Exclusão
                </button>

                <a href="{% url 'pedidos:detalhar_pedido' item.pedido.id %}" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>
    </form>
</div>

{% endblock %}